[submodule "components/arduino"]
	path = components/arduino
	url = git@github.com:espressif/arduino-esp32.git
	branch = idf-release/v4.4
[submodule "components/DendoStepper"]
	path = components/DendoStepper
	url = git@github.com:eldendiss/DendoStepper.git
	branch = master
[submodule "components/FastAccelStepper"]
	path = components/FastAccelStepper
	url = git@github.com:gin66/FastAccelStepper.git
[submodule "components/esp-idf-lib"]
	path = components/esp-idf-lib
	url = git@github.com:UncleRus/esp-idf-lib.git
[submodule "lib/espp"]
	path = lib/espp
	url = git@github.com:esp-cpp/espp.git
